[project]
	description = A sample webOS messaging Synergy connector plugin
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Eric Blade (ericblade)
[access "refs/for/refs/*"]
	read = group user/Eric Blade (ericblade)
	push = group user/Eric Blade (ericblade)
	label-Code-Review = -2..+2 group user/Eric Blade (ericblade)
	label-Verified = -1..+1 group user/Eric Blade (ericblade)
	rebase = group user/Eric Blade (ericblade)
	removeReviewer = group user/Eric Blade (ericblade)
	submit = group user/Eric Blade (ericblade)
[access "refs/heads/*"]
	read = group user/Eric Blade (ericblade)
	create = group user/Eric Blade (ericblade)
	push = +force group user/Eric Blade (ericblade)
	pushMerge = group user/Eric Blade (ericblade)
[access "refs/tags/*"]
	push = +force group user/Eric Blade (ericblade)
	pushTag = group user/Eric Blade (ericblade)
	pushSignedTag = group user/Eric Blade (ericblade)
